# Dependencias
node_modules/

# Next.js
.next/
out/

# Base de datos local
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# Archivos de audio subidos
uploads/

# Variables de entorno
.env
.env.local
.env*.local

# Logs
npm-debug.log*
*.log

# Sistema operativo
.DS_Store
Thumbs.db
